<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Gardens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="http://4.bp.blogspot.com/-M2eZLT4sWy4/VRwzmM_5JXI/AAAAAAABGz0/iNlpU3ODKwc/s1600/~%2BColorful%2BEntrance%2B~%2Blove%2Bthe%2Bidea%2Bof%2Badding%2Bcolor%2Bto%2Bthe%2Btraditional%2Bgarden%2Bgate!.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Chapter 4</ion-card-subtitle>
      <ion-card-title>Gardens - Paths</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"Life will lead you down different paths but Never fear the One that is leading is the right way."  You make known to me 
        the path of life; you will fill me with joy in your presence, with eternal pleasures at your right hand. Psalm 16:11</p>
<ion-item>
        <ion-button slot="start" [routerDirection]="'back'" [routerLink]="['/chapter 3']">
        <ion-icon slot="start" name="arrow-back-outline" src="assets\arrow-back-outline.svg"></ion-icon>
        Back
      </ion-button>

      <ion-button slot="end" [routerDirection]="'forward'" [routerLink]="['/chapter 5']">
        Next
        <ion-icon slot="end" name="arrow-forward-outline" src="assets\arrow-forward-outline.svg"></ion-icon>
      </ion-button>
</ion-item>
    </ion-card-content>
    <ion-footer>
      <div class="bar bar-footer ion-text-center">
        <h3 class="title">4</h3>
      </div></ion-footer>